* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

body {
  min-height: 120vh;
  background-color: #DEE2E6;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

header {
  background-color: #495057;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .icon svg {
  fill: #DEE2E6;
}
header .icon--left {
  padding-left: 2rem;
}
header .icon--right {
  padding-right: 2rem;
}
header h1 {
  color: #DEE2E6;
  font-size: 2.5rem;
  padding-right: 2rem;
  font-weight: bold;
}

.side-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(97, 96, 96, 0.7);
  z-index: 3;
}
.side-menu__content {
  width: 25vw;
  height: 100vh;
  background-color: #495057;
  color: #F8F9FA;
}
.side-menu__content--right {
  float: right;
  height: 25vh;
}
.side-menu__content ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
.side-menu__content li {
  padding-top: 2rem;
  padding-left: 1rem;
}
.side-menu__content a {
  font-size: 1.5rem;
  color: #F8F9FA;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}
.side-menu__content a:hover, .side-menu__content a:active {
  opacity: 1;
}
.side-menu__login {
  color: #F8F9FA;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.side-menu__login input {
  height: 25%;
  width: auto;
  background-color: #DEE2E6;
  border: 0;
  padding: 0 0.5rem 0 0.5rem;
  box-shadow: none;
}
.side-menu--hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.content {
  background: #495057;
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 25%;
  justify-content: space-around;
  color: #212529;
}
.content__decoration {
  margin: 10% 25%;
  position: absolute;
  height: 50vh;
  width: 50vw;
  transform: 1, 1;
  transition: 0.3s all ease-in-out;
}
.content__decoration--dark {
  left: 5%;
  top: 5%;
  z-index: -2;
  background-color: #212529;
}
.content__decoration--light {
  left: 2.5%;
  top: 7.5%;
  z-index: -1;
  background-color: #adb5bd;
}
.content icon {
  height: 15%;
}
.content icon svg {
  fill: #212529;
}
.content input {
  height: 50%;
  background-color: #DEE2E6;
  border: 1px solid black;
  padding: 0 0.5rem 0 0.5rem;
  box-shadow: none;
}
.content ul {
  height: 75%;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
.content li {
  height: 25%;
}
.content label {
  display: flex;
  height: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 2rem;
  align-items: flex-end;
  padding-bottom: 0.0625rem;
  -webkit-text-stroke: 1px black;
}
.content a {
  height: 10%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.25rem;
  color: #adb5bd;
}
.content button {
  font-size: 2rem;
  padding: 0.5rem;
  border: 2px solid transparent;
  outline: none;
  font: inherit;
  font-weight: 700;
  background: #adb5bd;
  color: #212529;
  transition: 0.3s all ease-in-out;
}
.content button:hover, .content button:focus {
  border: 2px solid #212529;
}

/*# sourceMappingURL=login.css.map */
